{% extends "base.html" %}

{% block title %}
Города
{% endblock %}

{% block content %}

            <h5>Поиск по городам</h5>
               <form method="get" action="{% url 'blog:search_result' %}" id="contactForm">
{#                <input name="q" type="text" placeholder="часть названия города">   #}
{#                    {% csrf_token %}       #}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Найти</button>
                </form>
                <br>
На странице {{ object_list|length }} городов
                   <br>
<h4>Все города по запросам</h4>

<ul>

    {% for item in object_list %}
        {{ item.id_word }} -
        {{ item.name }}
    <br>
    {% endfor %}

</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Предыдущие</a>
        {% endif %}
        <span class="current">
           | Стр. - {{ page_obj.number }}/{{ page_obj.paginator.num_pages }} |
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Следующие</a>
        {% endif %}
    </span>
</div>
{% endblock %}
