{% extends "base.html" %}

{% block title %}
    Города
{% endblock %}

{% block content %}
<h2>Все города</h2>
<!--{{object_list}}-->

<ul>
    {% for item in areas %}

    {#     {{ forloop.counter }} - #}
   id={{ item.pk }} - {{ item.name }}
    <br>
    {% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Предыдущая</a>
        {% endif %}
        <span class="current">
           | Стр. - {{ page_obj.number }}/{{ page_obj.paginator.num_pages }} |
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Следующая</a>
        {% endif %}
    </span>
</div>
{% endblock %}