{% extends "base.html" %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Контакты</p>
                        <div class="my-5">
                            <form method="post" id="contactForm">
                                Телефон для связи: 222-322-223.
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}